body {
  margin: 0 auto;
}

.header-container {
  background-color: #173753;
  color: #eee;
  display: flex;
  height: 60px;
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  width: 100%;
  border: solid 1px black;
  display: flex;
  align-items: flex-end;
}

.element {
  position: relative;
  background-color: #2892d7;
  margin-left: 0px;
  flex: 1;
}
